//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12.01 (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Thu 03 05 02:09:45 2026

IO_LOC "o_LED_4" 14;
IO_PORT "o_LED_4" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "o_LED_3" 13;
IO_PORT "o_LED_3" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "o_LED_2" 11;
IO_PORT "o_LED_2" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "o_LED_1" 10;
IO_PORT "o_LED_1" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "i_Switch_4" 18;
IO_PORT "i_Switch_4" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "i_Switch_3" 17;
IO_PORT "i_Switch_3" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "i_Switch_2" 4;
IO_PORT "i_Switch_2" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "i_Switch_1" 3;
IO_PORT "i_Switch_1" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
