// Tang Nano 9K - GW1NR-LV9QN88PC6/I5
// SW1/SW2: botoes onboard (ativos em nivel baixo)
// SW3/SW4: pinos de expansao (sem switch onboard dedicado)

IO_LOC "i_Switch_1" 3;
IO_PORT "i_Switch_1" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC "i_Switch_2" 4;
IO_PORT "i_Switch_2" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC "i_Switch_3" 17;
IO_PORT "i_Switch_3" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "i_Switch_4" 18;
IO_PORT "i_Switch_4" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "o_LED_1" 10;
IO_PORT "o_LED_1" IO_TYPE=LVCMOS18 DRIVE=8 PULL_MODE=UP;

IO_LOC "o_LED_2" 11;
IO_PORT "o_LED_2" IO_TYPE=LVCMOS18 DRIVE=8 PULL_MODE=UP;

IO_LOC "o_LED_3" 13;
IO_PORT "o_LED_3" IO_TYPE=LVCMOS18 DRIVE=8 PULL_MODE=UP;

IO_LOC "o_LED_4" 14;
IO_PORT "o_LED_4" IO_TYPE=LVCMOS18 DRIVE=8 PULL_MODE=UP;
